.productReviews_reviews_block {
  margin-bottom: 88px;
}

.productReviews_content {
  display: flex;
  justify-content: space-between;
  color: #4B4950;
  margin-bottom: 39px;
}

@media (max-width: 1000px) {
  .productReviews_content {
    flex-direction: column;
  }
}
