.productReview_review {
  display: flex;
  justify-content: center;
}

.productReview_item {
  max-width: 515px;
  padding-top: 31px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 40px;
  border: 2px solid rgba(75, 73, 80, 0.3);
  border-radius: 20px;
}

.productReview_person {
  display: flex;
  margin-bottom: 37px;
}

.productReview_img {
  top: -3.29px;
  left: -22.53px;
  width: 60px;
  height: 60px;
  margin-right: 24px;
  background-color: #C4C4C4;
  border-radius: 50%;
}

.productReview_title {
  margin-top: 19px;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.productReview_content {
  display: flex;
  margin-left: -2px;
  margin-bottom: 43px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  align-items: center;
}

.productReview_date {
  display: flex;
  margin-left: -2px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  align-items: center;
}

@media (max-width: 1650px) {
  .productReview_item {
    margin-left: 1.49%;
    margin-right: 1.49%;
  }
}

@media (max-width: 1000px) {
  .productReview_item {
    margin-bottom: 15px;
  }
}
