.catalogItems_wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
}

.catalogItems_content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 50px; /* удалить после добав. CatalogFilter */
  font-family: 'Golos Text', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  background-color: #FFFFFF;
}

.catalogItems_star {
  position: absolute;
  width: 46px;
  height: 46px;
  mask-image: url(../../../assets/svg/atr_star.svg);
  background-size: contain;
  background-color: #49D2A4;
}

.catalogItems_star__1 {
  left: 33px;
  top: 58px;
}

.catalogItems_star__2 {
  left: 746px;
  top: 356px;
}

.catalogItems_star__3 {
  left: 1085px;
  top: 482px;
  background-color: #006AFF;
}

.catalogItems_star__4 {
  left: 1839px;
  top: 786px;
  background-color: #006AFF;
}

.catalogItems_star__5 {
  left: 154px;
  top: 1074px;
  background-color: #006AFF;
}

@media (max-width: 1650px) {
  .catalogItem_content {
    margin-left: -1.49%;
    margin-right: -1.49%;
  }
}

@media (max-width: 1600px) {
  .catalogItem_content {
    margin-left: -0.57%;
    margin-right: -0.57%;
  }
}

@media (max-width: 1000px) { 
  .catalogItem_content {
    margin-left: -1%;
    margin-right: -1%;
  }
}

.catalogItems_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 62px;
  margin-bottom: 80px;
  padding: 16px 10px;
  width: 320px;
  background-color: #4B4950;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  border-radius: 4px;
}
