/* app.css */

/* Конструкция для того, что бы прижать подвал к низу экрана, -------------------------- */
/* если на странице мало контента. */
#root {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}
/* ------------------------------------------------------------------------------------- */
